INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y143;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y142;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y143;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y142;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y143;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y142;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y143;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y141;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y140;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y141;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y140;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y141;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y140;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y141;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y139;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y138;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y139;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y138;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y139;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y138;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y139;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y137;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y136;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y137;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y136;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y137;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y136;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y137;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y135;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y134;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y135;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y134;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y135;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y134;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y135;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y133;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y132;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y133;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y132;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y133;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y132;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y133;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y131;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y130;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y131;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y130;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y131;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y130;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y131;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y129;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y128;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y129;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y128;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y129;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y128;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y129;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y127;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y126;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y127;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y126;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y127;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y126;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y127;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y125;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y124;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y125;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y124;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y125;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y124;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y125;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y123;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y122;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y123;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y122;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y123;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y122;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y123;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y121;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y120;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y121;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y120;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y121;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y120;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y121;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y119;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y118;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y119;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y118;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y119;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y118;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y119;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y117;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y116;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y117;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y116;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y117;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y116;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y117;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y115;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y114;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y115;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y114;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y115;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y114;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y115;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y113;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X1Y112;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y113;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y112;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y113;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y112;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y113;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y142;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y142;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y142;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y142;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y140;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y140;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y140;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y140;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y138;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y138;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y138;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y138;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y136;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y136;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y136;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y136;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y134;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y134;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y134;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y134;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y132;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y132;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y132;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y132;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y130;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y130;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y130;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y130;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y128;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y128;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y128;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y128;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y126;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y126;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y126;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y126;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y124;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y124;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y124;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y124;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y122;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y122;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y122;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y122;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y120;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y120;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y120;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y120;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y118;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y118;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y118;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y118;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y116;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y116;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y116;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y116;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y114;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y114;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y114;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y114;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X1Y112;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_tap2_??????????/mult/*blk00000004 LOC=DSP48_X2Y112;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y112;
INST *_XSG_core_config/*_x0/chan1_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X4Y112;
