INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y111;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y110;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y111;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y110;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y111;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y110;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y111;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y109;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y108;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y109;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y108;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y109;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y108;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y109;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y107;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y106;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y107;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y106;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y107;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y106;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y107;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y105;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y104;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y105;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y104;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y105;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y104;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y105;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y103;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y102;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y103;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y102;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y103;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y102;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y103;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y101;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y100;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y101;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y100;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y101;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y100;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y101;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y99;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y98;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y99;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y98;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y99;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y98;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y99;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y97;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y96;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y97;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y96;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y97;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y96;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y97;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y95;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y94;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y95;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y94;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y95;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y94;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y95;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y93;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y92;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y93;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y92;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y93;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y92;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y93;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y91;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y90;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y91;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y90;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y91;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y90;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y91;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y89;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y88;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y89;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y88;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y89;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y88;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y89;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y87;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y86;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y87;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y86;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y87;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y86;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y87;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y85;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y84;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y85;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y84;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y85;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y84;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y85;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y83;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y82;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y83;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y82;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y83;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y82;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y83;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_coeffs_??????????/rom1/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y81;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_first_tap_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X5Y80;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_coeffs_??????????/rom2/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y81;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_tap2_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X4Y80;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_coeffs_??????????/rom3/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y81;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_tap3_??????????/delay_bram_??????????/ram/*SP.WIDE_PRIM18.ram LOC=RAMB18_X3Y80;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_coeffs_??????????/rom4/*SP.WIDE_PRIM18.ram LOC=RAMB18_X2Y81;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y110;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y110;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y110;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in1_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y110;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y108;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y108;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y108;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in2_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y108;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y106;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y106;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y106;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in3_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y106;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y104;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y104;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y104;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in4_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y104;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y102;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y102;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y102;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in5_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y102;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y100;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y100;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y100;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in6_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y100;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y98;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y98;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y98;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in7_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y98;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y96;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y96;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y96;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in8_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y96;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y94;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y94;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y94;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in9_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y94;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y92;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y92;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y92;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in10_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y92;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y90;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y90;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y90;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in11_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y90;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y88;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y88;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y88;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in12_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y88;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y86;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y86;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y86;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in13_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y86;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y84;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y84;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y84;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in14_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y84;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y82;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y82;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y82;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in15_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y82;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_first_tap_??????????/mult/*blk00000004 LOC=DSP48_X5Y80;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_tap2_??????????/mult/*blk00000004 LOC=DSP48_X4Y80;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_tap3_??????????/mult/*blk00000004 LOC=DSP48_X3Y80;
INST *_XSG_core_config/*_x0/chan0_??????????/fir_core_x0/pfb_fir_real_??????????/pol1_in16_last_tap_??????????/mult/*blk00000004 LOC=DSP48_X2Y80;
